<header class="flex">
  <h1>Welcome to {{ title }}!</h1>
</header>
<main>
  <section>
    <div class="flex">
      <input id="show" type="checkbox" [(ngModel)]="show" />
      <label for="show">Show conditional header</label>
    </div>
    <h2 *csdIf="show">My conditional header</h2>
  </section>

  <section>
    <div class="flex">
      <input id="showIfElse" type="checkbox" [(ngModel)]="showIfElse" />
      <label for="showIfElse">Show if/else conditional header</label>
    </div>
    <h2 *csdIf="showIfElse; else elseHeader">My conditional header</h2>
  </section>

  <section>
    <div class="flex">
      <input id="showIfThenElse" type="checkbox" [(ngModel)]="showIfThenElse" />
      <label for="showIfThenElse">Show if/else conditional header</label>
    </div>
    <ng-container
      *csdIf="showIfThenElse; then thenHeader; else elseHeader"
    ></ng-container>
  </section>

  <section>
    <h2>csdFor example</h2>
    <div
      *csdFor="
        let item of items;
        let i = index;
        let isFirst = first;
        let isLast = last;
        let isEven = even;
        let isOdd = odd;
        let size = count
      "
    >
      <p>This is item: {{ item | date }}.</p>
      <pre>
        Index: {{ i }}
        First: {{ isFirst }}
        Last: {{ isLast }}
        Even: {{ isEven }}
        Odd: {{ isOdd }}
        Count: {{ size }}
      </pre>
    </div>
  </section>
</main>

<ng-template #elseHeader>
  <h2>My conditional else condition header</h2>
</ng-template>
<ng-template #thenHeader>
  <h2>My conditional then condition header</h2>
</ng-template>
